<%= form_with model: @blog_post do |form| %>
    <% if form.object.errors.any? %>
        <div>
            <% form.object.errors.full_messages.each do |message| %>
            <div> <%= message %> </div>
            <% end %>
        </div>
    <% end %>

    <div class="w-full mb-5">
        <%= form.label :title %>
        <br /   >
        <%= form.text_field :title, class: 'w-full' %>
    </div>

    <div class="mb-5">
        <%= form.label :content %>
        <br />
        <%= form.rich_text_area :content, class: 'w-full' %>
    </div>
    
    <div class="btn-green inline-block">
    <%= form.button %>
    </div>
<% end %>   
    